*
  margin 0
  padding 0
  box-sizing border-box
  outline: none
  text-decoration none

html
  font-size: 10px
  font-family Akrobat
  font-weight normal

#wrapper
  width 100%
  overflow-x: hidden

.g-wrapper
  max-width: 120rem
  margin 0 auto
  padding-left 0.6rem
  padding-right 0.6rem


@media (max-width: 1600px)
  html
    font-size: 9px

@media (max-width: 1440px)
  html
    font-size: 9px

@media (max-width: 1280px)
  html
    font-size: 8px

@media (max-width: 1024px)
  html
    font-size: 7px
@media (max-width: 1000px)
  html
    font-size: 10px
@media (max-width: 867px)
  html
    font-size: 8px
@media (max-width: 667px)
  html
    font-size: 9px
